@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{  
    box-sizing:border-box;
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
}
body{
       background-image: linear-gradient(to right, #111216, #b5956b, #ebe3e5);
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
}
.container{
    background-image: linear-gradient(to right, #111216, #b5956bb2, #ebe3e554),
    url(/images/tiramisu.webp);
    background-size: cover;
    width: 95%;
    height: 90%;
    padding: 20px;
    transition: all 0.3s ease;
}
.container:hover{
    background-image: linear-gradient(to right, #111216, #b5956b63, transparent),
    url(/images/tiramisu.webp);
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    width: 100%;
    max-width: 200px; /*لضمان عدم تمدده بشكل غير مرغوب */
}
.navbar a{
    color: rgb(90, 8, 8);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25); /* شفافية ثابتة */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 10; /* يفضل فوق أي خلفية */
    padding: 5px 10px;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover {
    border: solid 2px rgb(90, 8, 8);
}
ul {
    width: 70%;
    display : flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 20px;
}
li{
    list-style: none;
}
.content{
    background-color:rgba(250, 235, 215, 0.596);
    width : 40%;
    padding: 20px;
    color:rgb(90, 8, 8);
    margin: 20px 10px;
    border-radius: 20px;
}
h1{
    font-size: 36px;
}
p{
    margin: 10px 0; 
    font-size: 22px;
}
.offer{
    font-size: 20px;
    font-weight: bold;
    color: #cc1d1d; /* لون جذاب */
    margin-top: 10px;
}
button{
    font-size: 30px;
    padding: 5px 15px;
    border-color:  rgb(90, 8, 8);
    background-color:#ffb84d;
    font-weight: bold;
    color: rgb(90, 8, 8);
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    transition: all 0.3s ease;
}
button:hover{
    cursor: pointer;
    background-color: #ff9900; /* أغمق عند المرور */
    transform: scale(1.05); /* يكبر شوية لجذب الانتباه */
}

@media (min-width: 801px){
    header{
    width: 90%;
    }
    header>a{
    width :15%;
    }
    .container{
    width: 95%;
    height: 90%;
    padding: 20px;
    transition: all 0.3s ease;
}
    .content{
        width: 45%;
        padding:20px;
        margin: 20px 10px;
        text-align: left;
    }
    ul{
        width: 100%;
        justify-content: space-evenly;
        padding-top: 20px;
        gap: 10px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 22px;
    }
    .offer{
        font-size: 26px;
    }
    button{
        font-size: 32px;
        padding: 5px 15px;
    }
}

@media (max-width: 800px) { 
    body{
       background-image: linear-gradient(to right, #111216c9, #b5956b, #ebe3e5);
    }
a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 2.5px 5px;
    border-radius: 5px;
}  

h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.offer{
    font-size: 20px;
}
.container{
    background-image: linear-gradient(to right, #111216c9 #b5956bb2, #ebe3e554),
    url(/images/tiramisu2.webp);
    padding: 5px; 
    width: 95%;
    height: 95%;
}
.container:hover{
    background-image: linear-gradient(to right, #4b4e589a, #b5956b63, transparent),
    url(/images/tiramisu2.webp);
}
.content{
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    text-align: center
}
button{
    font-size: 20px;
    padding: 5px 10px;
}
header{
    flex-direction: column;
    align-items: center;
}
ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
    margin: 20px auto;
}
}
@media (max-width: 480px) { 
.logo{
    width: 50%;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.offer{
    font-size: 20px;
}
.container{
    background-image: linear-gradient(to right, #111216, #b5956bb2, #ebe3e554),
    url(/images/tiramisu2.webp);
    padding: 5px; 
    width: 95%;
    height: 95%
}
.container:hover{
    background-image: linear-gradient(to right, #111216, #b5956b63, transparent),
    url(/images/tiramisu2.webp);
}
.content{
    width: 90%;
    padding: 15px;
    margin: 20px auto;
    text-align: center
}
button{
    font-size: 20px;
    padding: 5px 10px;
}
header{
    flex-direction: column;
    align-items: center;
}
ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 5px;
    margin: 5px auto;
}
a{
    font-size: 18px;
    padding: 2.5px 5px;
    border-radius: 5px;
}
}
@keyframes moving{/*لعمل حركه بسيطه لمربع الحوار عند تحميل الشاشه لاول مره*/
    from{
        opacity: 0;  /* العنصر شفاف تمامًا في البداية */
        transform: translateY(20px);/* العنصر نازل تحت بمقدار 20px */
       }
    to{
        opacity: 1;  /* العنصر ظاهر بالكامل */
        transform: translateY(0);/* العنصر في مكانه الطبيعي */
    }
}
.content{ 
   animation: moving 0.6s ease forwards;
}